*UpgradeLog*
*.sdf
#*.sln
*.suo
*.vcxproj*
_UpgradeReport_Files*
*.opensdf
#*.dll
#*.exe
*.idb
*.ilk
*.tlog
*.obj
*.res
*.log
*.pdb
*.lastbuildstate
*.rar
*.zip
*.dat
*\Backup
*\vc_msw*
*targetver.*
*stdafx.*
*output.txt
*/**/Release/*
*/**/Debug/*
*.vspx
*.psess